
body {
  background-image: url("https://i.imgur.com/4i1jMsG.png");
  background-size: cover;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  font-family: 'Barlow', sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 140px;
  height: 100vh;
  background-color: #f1f1f1;
  overflow-y: auto;
  color: white;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar li {
  text-align: center;
  border-bottom: 1px solid #555;
}

.navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.navbar li a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar li a:hover:not(.active) {
  background-color: #FFFFC3;
  color: #0A1929;
}

.your-iframe {
  margin-top: 5px;
  margin-left: 150px;
}